Advaned/Web/RichInternetApp/SilverlightTest/Service References/Backend/ToDService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://adsd.met.edu/2011/SilverlightTest" elementFormDefault="qualified" targetNamespace="http://adsd.met.edu/2011/SilverlightTest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetServerTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>